.follow__main {
background: #0A0A0A;;
height: 650px;
background-size: cover;
overflow: hidden;
position: relative;

 }
.follow__title {
	font: 400 96px 'Space Mono', sans-serif;
	position: absolute;
	text-transform: uppercase;
	left: 10%;
	top: -60px;
	color: #fff;
	overflow: hidden;
}
.follow {
border-bottom: 5px solid;
color: #fff;
}

.follow__container {
padding-top: 210px;
height: 490px;	
padding-left: 340px;
}
.footer{
background: #0A0A0A;
}
.follow__footer {
	color: #fff;
	font: 400 16px 'Space Mono', sans-serif;
	padding-left: 990px;
	padding-bottom: 60px;
}


.img3 {
	padding-left: 60px;
}
.img2 {
padding-left: 60px;}